# === WAJIB (Secrets & Files Lokal) ===
# Abaikan file konfigurasi lama
config.json

# Abaikan file environment variable lokal
.env

# Abaikan file database SQLite lama dan jurnalnya
watchlist.db
*.db-journal

# === HASIL KOMPILASI & DEPENDENSI ===
# Abaikan file hasil kompilasi (binary)
*.exe
eveeze-comic

# === SANGAT DISARANKAN ===
# Abaikan folder setting editor Visual Studio Code
.vscode/

# Abaikan file log jika ada
*.log

# Abaikan direktori yang dibuat oleh Docker untuk data persisten
/postgres_data/